<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='trip.css')}}">
  <link href="https://fonts.googleapis.com/css2?family=Oxygen+Mono&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Paprika&family=Poly&display=swap" rel="stylesheet">
  <title>DivideXp: {{ title }}</title>
</head>

<body>
  <div class="trip-background">
    <header>
      <div class="header-container">
        <a class="logo" href="\home">
          <p class="divid">
            Divid
          </p>
          <p class="exp">
            e
          </p>
          <p class="x">
            X
          </p>
          <p class="exp">
            p
          </p>
        </a>
        <div class="currency-dropper-container">
          USD
          <div class="currency-dropper">
          </div>
        </div>
        <div class="account">
          {{ current_user.username }}
        </div>
      </div>
    </header>

    <div class="team-members-container">
      <button class="add-new-member" onclick="open_team_member_form()">New</button>
      {% for team_member in users %}
      <div class="team-member">
        <img src={{ url_for('static', filename= 'profile_pics/' + team_member.image_file) }} class="team-member-icon" alt="">
        <p>{{ team_member.username }}</p>
        <div class="team-member-info">
          <img src={{ url_for('static', filename= 'profile_pics/' + team_member.image_file) }} class="team-member-icon" alt="">
          <p class="team-member-name-p">{{ team_member.name }}</p>
          <p class="email-p">{{ team_member.email }}</p>
          <pre class="team-member-balance-p">Balance : {{ team_member.balance}}$    Credit : {{ team_member.credit }}$</pre>
          <button class="add-new-expense" onclick="open_expense_form()">Add an expense<img src="static\assets\banknotes-512.png" alt=""></button>
          <progress value="57" max="100"></progress>
        </div>
      </div>
      {% endfor %}
    </div>

    <div class="timeline-container">
      <ul>
        {% for expense in expenses %}
        <li>
          <span>
            <div class="expense-info">
              <div class="left-panel">
                <p class="timestamp">{{ expense.timestamp }}</p>
              </div>
              <div class="right-panel">
                <p class="title">{{ expense.category }} - {{ expense.sum }}$</p>
                <p class="account">{{ expense.name }}</p>
              </div>
            </div>
          </span>
        </li>
        {% endfor %}
      </ul>
    </div>
  <div class="create-new-member-popup-form" id="team-member-form">
      <h1>Add new member to your team</h1>
      <form method="POST" class="create-new-member-container" action="">
        {{ tm_form.hidden_tag() }}
        <div class="user-input">
            {{ tm_form.name }}
            {{ tm_form.name.label }}
        </div>
        <div class="user-input">
            {{ tm_form.username }}
            {{ tm_form.username.label }}
        </div>
        <div class="user-input">
            {{ tm_form.email }}
            {{ tm_form.email.label }}
        </div>
        <div class="user-input">
            {{ tm_form.budget }}
            {{ tm_form.budget.label }}
        </div>
          {{ tm_form.submit(class='red-submit-button', onclick=close_team_member_form) }}
      </form>
  </div>

  <div class="add-expense-popup-form" id="add-expense-form">
      <form class="add-expense-container" action="" method="post">
        {{ e_form.hidden_tag() }}
        <div class="left">
          <div class="user-input">
              {{ e_form.sum }}
              {{ e_form.sum.label }}
          </div>
          <div class="user-input">
              {{ e_form.category }}
              {{ e_form.category.label }}
          </div>
          {{ e_form.submit(class='blue-submit-button', onclick=close_expense_form) }}
        </div>
        <div class="notes-container">
          <div class="user-input">
              {{ e_form.notes(placeholder='Place for your notes..') }}
          </div>
        </div>
      </form>
  </div>

  </div>

  <script>

    function open_team_member_form() {
      document.getElementById("team-member-form").style.display = "block";
    }

    function close_team_member_form() {
      document.getElementById("team-member-form").style.display = "none";
    }

    function open_expense_form() {
      document.getElementById("add-expense-form").style.display = "block";
    }

    function close_expense_form() {
      document.getElementById("add-expense-form").style.display = "none";
    }

  </script>

</body>

</html>
