*,
*::before,
*::after {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.intro {
  background-image: url("assets/bg.svg");
  height: 100%;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Header */
.header {
  width: 100%;
  padding-top: 20px;
  position: absolute;
}

.header-box {
  margin-left: 20px;
  margin-right: 10px;
  display: flex;
  flex-direction: row-reverse;

  font-size: 20px;
  opacity: 0.63;
  color: #31393C;
}

.header-item {
  display: 1 1 auto;
  margin: 0 10px;
}

.login-link {
  color: #31393C;
  text-decoration: none;
}

.login-link:hover {
  color: #3EC199;
  opacity: 1;
  text-decoration: none;
  transition: color .2s linear;
}

.trips-container {
  display: flex;
  width: 40%;
  height: 100%;
  flex-direction: column;
  align-content: flex-end;
  margin: 20px;
}

.trips-container-item {
  margin-top: 20px;
  margin-left: 40px;
  font-family: 'Oxygen Mono', monospace;
  color: #31393C;
  font-size: 20px;
}

.trips-container-item p {
  text-align: center;
}

.trips-container-item:nth-child(1) {
  margin-top: 120px;
}

.trips-container-item:nth-child(odd) {
  align-self: flex-start;
}

.trips-container-item:nth-child(even) {
  align-self: flex-end;
}

.underline-p {
  padding-bottom: 10px;
}

.trips-container-item:nth-child(odd) .underline-p {
  border-bottom: 4px solid #3EC199;
}

.trips-container-item:nth-child(even) .underline-p {
  border-bottom: 4px solid #49B6FF;
}

.input-form-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  position: relative;
  top: -60%;
  right: -50%;
  max-width: 620px;
  max-height: 280px;

  background: #FFFFFF;
  box-shadow: 8px 10px 4px rgba(248, 117, 117, 0.21);
  border-radius: 4px;

  padding-top: 60px;
}

.input-box {
  position: relative;
  margin: 10px;
  max-height: 100px;
}


.input-box input {
  font-family: 'Open Sans', monospace;
  color: rgba(49, 57, 60, 0.52);
  padding: 5px, 0;
  font-size: 24px;
  border: none;
  border-bottom: 1px solid rgba(49, 57, 60, 0.52);
  outline: none;
  background: transparent;
}

.input-box label {
  position: absolute;
  padding: 15px, 0;
  top: 0;
  left: 0;
  font-size: 24px;
  font-family: 'Open Sans', monospace;
  color: rgba(49, 57, 60, 0.52);
  pointer-events: none;
  transition: .5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -20px;
  left: 0;
  font-size: 12px;
}

.create-new-button {
  align-self: flex-end;
  margin-bottom: 30px;
  margin-left: 60%;
  width: auto;
  min-width: 200px;
  height: 56px;
  color: white;
  font-size: 24px;
  background-color: #49B6FF;
  border-radius: 14px;
  border: none;
  outline: none;
}

.create-new-button:hover {
  transform: translateY(-3px);
  box-shadow: 0 2px 6px -1px rgba($primary, .65);
}

.create-new-button:active {
  transform: scale(.99);
}
