<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css')}}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='sign_in_up.css')}}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='trip.css')}}">
  <link href="https://fonts.googleapis.com/css2?family=Oxygen+Mono&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

  <title>DivideXp</title>
</head>

<body>
  {% block content %}{% endblock %}
</body>

</html>
